<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{typeName}}</h4>
      </div>
      <div class="modal-body">
        <div ng-if="type=='eua'" style="height: 300px; overflow:scroll">
          <pre>
제1장 총 칙

제1조[목 적]
이 약관은 Mobius 웹포털 사이트(이하 본 사이트)가 제공하는 모든 서비스를 이용하는 인터넷회원(이하 회원)과 본 사이트에서 서비스의 이용조건 및 절차에 관한 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.

제2조[약관의 효력과 변경]

1.서비스는 본 약관에 규정된 조항을 변경 없이 이용자가 수락하는 것을 조건으로 제공됩니다. "'사용자 계정 생성' 버튼을 클릭하면 이용약관 및 개인정보 보호정책에 동의하게됩니다."와 같은 문장과 함께 제공되는 "사용자 계정 생성" 버튼을 클릭함은 본 약관에 대하여 이용자가 동의한다는 것을 의미합니다.
2.본 약관은 이용자에게 온라인을 통해 공시함으로써 효력을 발생합니다. 본 사이트는 사정 변경의 경우와 운영상 중요 사유가 있을 때 약관을 임의로 변경할 수 있으며, 변경된 약관은 서비스 화면에 게시되거나 기타의 방법으로 회원에게 공지됨으로써 효력이 발생됩니다.
3.회원은 변경된 약관에 동의하지 않을 경우, 서비스 이용을 중단하고 탈퇴할 수 있습니다. 약관이 변경된 이후에도 계속적으로 서비스를 이용하는 경우에는 회원이 약관의 변경 사항에 동의한 것으로 봅니다.

제3조[약관 외 준칙] 이 약관에 명시되지 않은 사항이 국내 관계법령에 규정되어 있을 경우에는 관련 법령에 따릅니다.

제2장 회원가입과 서비스 이용

제4조[회원 가입]

1.회원 가입은 이용자의 가입 신청에 대한 본 사이트의 이용 신청과 이용자의 약관 내용에 대한 동의로 성립됩니다.
2.회원에 가입하여 서비스를 이용하고자 하는 희망자는 본 사이트가 정한 소정의 양식에 따른 개인 신상정보를 제공해야 합니다. 이용자가 제공한 개인정보는 철저히 보호됩니다.

제5조[가입신청의 승낙]

1.본 사이트는 회원이 모든 사항을 정확히 기재하여 신청할 경우 회원 가입을 승낙합니다. 단, 2항의 '회원 가입 신청의 제한'에 해당하는 경우 이를 승낙하지 아니 합니다.
2.회원 가입 신청의 제한
①다른 사람의 명의를 사용하여 신청하였을 때
②이용 계약 신청서의 내용을 허위로 기재하였을 때
③기타 본 사이트가 정한 이용 신청 요건이 미비 되었을 때

제6조[회원의 혜택]
본 사이트의 인터넷 회원 가입은 무료이며 본인 확인을 위함입니다.

제3장 회원가입 해지 및 서비스이용 제한

제7조[회원 가입 해지 및 이용 제한]

1.회원이 회원가입을 해지하고자 할 때는 회원 본인이 직접 회원정보변경 페이지에서 해지 신청을 해야 합니다.
2.가입해지를 요청한 경우 30일간 재가입을 위해 ID가 보관되어 같은 아이디로 재가입할 수 있습니다. 3개월이 경과한 이후에는 ID가 회원DB에서 완전히 삭제되며 재가입시에는 새로운 ID로 가입하여야 합니다.
3. 본 사이트는 회원이 다음 사항에 해당하는 행위를 하였을 경우 사전 통지 없이 이용 계약을 해지하거나 또는 기간을 정하여 서비스 이용을 중지할 수 있습니다.
① 범죄 행위에 관련되는 경우
② 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우
③ 타인의 ID및 비밀번호를 도용한 경우
④ 타인의 명예를 손상시키거나 불이익을 주는 경우
⑤ 같은 이용자가 다른 ID로 이중 등록을 한 경우
⑥ 서비스에 위해를 가하는 등 건전한 이용을 저해하는 경우
⑦ 기타 관련법령이나 본 사이트가 정한 이용조건에 위배되는 경우

제8조[이용 제한 절차]
본 사이트는 이용제한을 하고자 하는 경우에는 그 사유, 일시 및 기간을 정하여 이용자의 전자우편 또는 전화 등의 방법에 의하여 해당 이용자 통지합니다.
다만, 본 사이트가 긴급하게 이용을 정지할 필요가 있다고 인정하는 경우에는 그러하지 아니할 수 있습니다.

제4장 책 임

제9조[본 사이트의 의무]

1.본 사이트는 특별한 사정이 없는 한 회원이 신청한 서비스를 이용할 수 있도록 합니다.
2.본 사이트는 이 약관에서 정한 바에 따라 계속적, 안정적으로 서비스를 제공할 의무가 있으며 이를 위해 본 사이트는 노력해야 하며,
부득이한 이유로 서비스가 중단되면 지체없이 이를 수리 복구합니다. 단, 천재지변, 비상사태, 그 밖의 부득이한 경우에는 그 서비스를 일시 중단하거나 중지할 수 있습니다.
3.본 사이트는 서비스 제공으로 알게 된 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다.

제10조[회원의 의무]

1.ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있습니다.
2.회원은 자신의 ID를 타인에게 양도, 증여할 수 없습니다.
3.자신의 ID가 부정하게 사용된 경우, 회원은 반드시 본 사이트에 그 사실을 전자우편이나 기타 방법을 이용해 통보해야 합니다.
4.회원은 이 약관 및 관계법령에서 규정한 사항을 준수하여야 합니다.

제5장 게시물

제11조[회원의 게시물]
본 사이트는 회원의 게시물이 다음 각 항에 해당되는 경우에는 사전통지 없이 삭제합니다.

① 타인의 프라이버시 및 공표권과 같은 법적권리를 훼손, 악용, 도용, 위협하거나 괴롭히거나 또는 달리 위반하는 행위
② 부적절, 모독적, 명예훼손적, 침해적, 음란, 상스럽거나 또는 불법적인 제목, 이름, 자료 또는 정보를 출판, 우송, 게시, 배포 또는 유포시키는 행위
③ 타인의 컴퓨터를 손상시킬 수 있는 바이러스, 오염된 파일, 또는 기타 유사한 소프트웨어 또는 프로그램을 포함하는 자료를 업로드하는 행위
④ 상업적인 목적으로 상품 또는 서비스를 광고 또는 판매하는 행위
⑤ 자료조사, 컨테스트, 피라미드 체계를 행하거나 행운의 편지를 보내는 행위
⑥ 다른 이용자가 서비스를 사용하거나 즐기는 것을 제한하거나 금지시키는 행위

제12조[게시물의 저작권]
본 홈페이지에 게시된 모든 게시물은 조건없이 모든 이용자와 공유합니다.

제13조[게시물에 대한 본 사이트의 책임]

1. 본 사이트는 게시물을 검열할 의무를 지지 않습니다. 그러나, 본 사이트는 적용되는 법률, 규정, 법적 절차를 위하여 정보를 공개하거나, 또는 본 사이트의 전적인 재량으로 정보 내지 자료의 전부 또는 일부를 편집,삭제할 권리를 보유합니다.
2.회원은 모든 게시판 서비스가 공공적인 통신으로 사적인 통신이 아니며, 그 결과 이용자의 통신이 귀하가 알지 못하게 다른 사람에 의하여 읽힐 수 있음을 인정합니다.
누구에 관한 것인지 식별할 수 있는 이용자 또는 이용자의 자녀들에 관한 정보를 게시할 때는 항상 주의를 기울여야 합니다.
3.본 사이트는 이용약관을 위반하거나 제12조에 해당될 때 회원이 게시판의 일부 또는 전부에 접속하는 것을 종료시킬 수 있는 권한을 보유합니다.
4.게시물에 관한 책임 및 이용자가 게시판 서비스에 참여함으로써 발생하는 사건에 대한 책임은 이용자에게 있습니다.

제14조[정보 제공]

1.본 사이트는 회원에게 필요한 정보를 전자메일이나 서신우편 등의 방법으로 전달할 수 있으며, 회원은 이를 원하지 않을 경우 회원정보변경 메뉴에서 정보수신거부를 할 수 있습니다.
2.본 사이트는 비영리 공익활동을 하고 있는 단체와 기관 및 비영리 공익활동 프로그램에 대한 안내를 본 사이트의 판단에 따라 전자우편을 통해 회원들에게 제공할 수 있습니다.

[부 칙]

1. 본 약관은 2018년 03월 30일부터 적용됩니다
          </pre>
        </div>
        <div ng-if="type=='privacy'" style="height: 300px; overflow:scroll">
          <pre>
본사이트가 취급하는 모든 개인정보는 개인정보보호법 등 관련 법령상의 개인정보보호규정을 준수하여 수집·보유 및 처리하고 있습니다.

1. 개인정보의 처리 목적
본 사이트를 통해 서비스 제공과 다양한 문의에 대한 적절한 답변을 위해 개인정보를 수집합니다. 제공해드리는 서비스에는 장비사용 및 교육, 상담 및 문의 등이 포함됩니다. 수집된 개인정보를 통해 적절한 정보화 서비스 등을 제공할 수 있게 됩니다.

2. 수집하는 개인정보의 항목 및 수집방법
본 사이트에서 수집하는 개인정보는 이메일, 닉네임 등입니다.

3. 개인정보처리 위탁
해당 사항 없음

4. 수집하는 개인정보의 보유기간 및 폐기
고객님께서 제공하신 모든 정보를 고객님께서 서비스를 받으시는 동안 보유하며 서비스 제공을 위해서만 이용하게 됩니다. 또한, 고객님께서 회원 탈퇴를 요청한 경우 고객님의 개인 정보는 재생 불가능한 방법으로 저장장치에서 완전히 삭제되며, 어떠한 방법으로도 열람 또는 이용할 수 없도록 처리됩니다.

5. 개인정보를 공유할 경우 제공받는 자, 제공목적 및 제공할 정보의 내용
본 사이트내에서 개인정보를 입력하도록 요구되는 경우 특별한 언급이 없는 한 해당 정보는 본사이트에만 보유하게 되며,
통계처리, 학술연구, 시장조사 등을 위하여 필요한 경우에는 특정한 개인을 식별 할 수 없는 통계학적 자료로만 제공됩니다.

6. 정보주체의 권리, 의무 및 그 행사방법에 관한 사항
정보주체는 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
개인정보 열람요구, 오류 등이 있을 경우 정정 요구, 삭제요구, 처리정지 요구
제1항에 따른 권리 행사는 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 본사이트 관리자는 이에 대해 지체없이 조치하겠습니다.
정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.

개인정보보호 책임
본 사이트는 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보 보호책임자와 실무담당자를 지정하고 있습니다. (개인정보보호법 제31조 제1항에 따른 개인정보보호책임자)

1) 개인정보 보호책임자
가. 담 당 자 : 박 동 하 책임
나. 소속부서 : IoT 플랫폼 연구센터
다. 연 락 처 : 031-789-7580
라. 이 메 일 : araha[at]keti.re.kr
2) 개인정보 보호담당자
가. 담 당 자 : 박 동 하 책임
나. 소속부서 : IoT 플랫폼 연구센터
다. 연 락 처 : 031-789-7580
라. 이 메 일 : araha[at]keti.re.kr
3) 개인정보 보호취급자
가. 담 당 자 : 박 동 하 책임(성남)
나. 소속부서 : IoT 플랫폼 연구센터
다. 연 락 처 : 031-789-7580
라. 이 메 일 : araha[at]keti.re.kr
개인정보 처리방침의 변경
본 개인정보 처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 가능한 변경사항의 시행일 전에 공지사항을 통하여 고지할 것입니다.

- 공고일자 : 2018년 3월 30일
- 시행일자 : 2018년 3월 30일

● 개인정보침해에 관련된 신고는 개인정보침해 신고센터(http://privacy.kisa.or.kr)에서 하실 수 있습니다.
          </pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="dismissModal()" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
