<div class="app flex-row align-items-center" ng-controller="authController"  >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-block">
                            <h1>비밀번호 초기화</h1>
                            <p class="text-muted">등록한 email 주소 입력 후 비밀번호 초기화 요청 버튼을 선택하세요.</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input ng-model="formData.reset.email" type="text" on-key-enter="passwordResetRequest()" class="form-control" placeholder="사용자 이메일">
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button ng-click="passwordResetRequest()" type="button" class="btn btn-primary px-4">비밀번호 초기화 요청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
