<div class="app flex-row align-items-center" ng-controller="authController" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-block">
                            <h1>비밀번호 변경</h1>
                            <p class="text-muted">새로 사용할 비밀번호를 입력하세요.</p>

                            <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input ng-model="formData.change.password" type="password" on-key-enter="changePassword()" ng-change="checkPasswordStrength('change')" class="form-control" ng-required="true" placeholder="비밀번호(알파벳과 숫자 또는 특수문자[!@#$%]로 8자리 이상 조합)">
                            </div>

                            <div class="input-group mb-3 password-validation" ng-if="passwordValidationMessage != ''" ng-class="validPassword?'':'invalid'">
                              <span ng-bind="passwordValidationMessage"></span>
                            </div>

                            <div class="input-group mb-4">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input ng-model="formData.change.password2" type="password" on-key-enter="change()" class="form-control" ng-required="true" placeholder="비밀번호 재입력">
                            </div>

                            <button ng-click="changePassword()" ng-disabled="disableChangeButton()" type="button" class="btn btn-block btn-success">비밀번호 변경</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
